/* IMPORT/COMPILE LESS FILES */
/* VARIABLES */
/* BROWSER RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/header.png");
}
header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  color: #302f30;
  background-color: #232426;
}
@media (max-width: 500px) {
  header #navbar {
    width: 500px;
    align-items: center;
  }
}
header #navbar .navtitle {
  display: flex;
  align-items: center;
  margin-left: 150px;
  font: 20px "Exo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
@media (max-width: 500px) {
  header #navbar .navtitle {
    display: none;
  }
}
header #navbar .navtitle .navlogo {
  margin-right: 15px;
  font-size: 40px;
  color: #f14000;
}
header #navbar .navlinks {
  display: flex;
  margin-right: 150px;
  font: 12px "Calibri", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header #navbar .navlinks a {
  opacity: 0.7;
  color: #fff;
  text-decoration: none;
}
header #navbar .navlinks a:hover {
  opacity: 1;
}
header #navbar .navlinks .nav_a {
  margin-top: 10px;
  margin-left: 50px;
  border-bottom: 2px solid #232426;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
  header #navbar .navlinks .nav_a {
    margin-left: 20px;
  }
}
header #navbar .navlinks .nav_a:hover {
  border-bottom: 2px solid #f14000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header #navbar .navlinks .login,
header #navbar .navlinks .register {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
  header #navbar .navlinks .login,
  header #navbar .navlinks .register {
    padding: 8px 20px;
    font-size: 12px;
  }
}
header #navbar .navlinks .login {
  margin-left: 50px;
  border: 1px solid #6d7780;
}
header #navbar .navlinks .login a {
  opacity: 1;
  color: #fff;
}
@media (max-width: 500px) {
  header #navbar .navlinks .login {
    margin-left: 30px;
  }
}
header #navbar .navlinks .login:hover {
  border-color: #0f6cff;
  background-color: #0f6cff;
}
header #navbar .navlinks .register {
  margin-left: 20px;
  background-color: #f14000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header #navbar .navlinks .register a {
  opacity: 1;
  color: #fff;
}
header #navbar .navlinks .register:hover {
  background-color: #0f6cff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header #welcome {
  width: 800px;
  padding-bottom: 150px;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  font: 16px "Calibri", sans-serif;
  color: #fff;
}
@media (max-width: 500px) {
  header #welcome {
    padding-bottom: 100px;
    width: 95%;
  }
}
header #welcome h1 {
  margin-top: 150px;
  margin-bottom: 10px;
  font: 80px "Exo", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
@media (max-width: 500px) {
  header #welcome h1 {
    margin-top: 100px;
    font-size: 60px;
  }
}
header #welcome #learnmore {
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header #welcome #learnmore a {
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 7px;
  color: #fff;
  border: 1px solid #232426;
  background-color: #232426;
}
#content {
  position: relative;
  box-sizing: border-box;
  margin-top: 75px;
  font: 16px "Calibri", sans-serif;
  line-height: 20px;
}
@media (max-width: 500px) {
  #content {
    margin-top: 50px;
  }
}
#content h2 {
  font: 35px "Exo", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f14000;
}
#content h3 {
  font: 25px "Calibri", sans-serif;
  color: #302f30;
}
#content .icon {
  margin-bottom: 10px;
  font-size: 40px;
  color: #ed0036;
}
@media (max-width: 500px) {
  #content .icon {
    margin-top: 30px;
  }
}
#content #subsection {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 75px;
  text-align: center;
  color: #6d7780;
}
@media (max-width: 500px) {
  #content #subsection {
    display: block;
  }
}
#content #subsect1,
#content #subsect2,
#content #subsect3,
#content #subsect4 {
  margin: 0 25px;
}
#about {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  background-image: url("/images/header.png");
  background-position: right middle;
}
#about .subsection {
  width: 800px;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
  line-height: 20px;
  font: 16px "Calibri", sans-serif;
  color: #fff;
}
@media (max-width: 500px) {
  #about .subsection {
    width: 95%;
  }
}
#about .subsection h1 {
  font: 60px "Exo", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
#aboutcontent {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  line-height: 30px;
  font: 20px "Calibri", sans-serif;
  color: #302f30;
}
@media (max-width: 500px) {
  #aboutcontent {
    margin-top: 25px;
    width: 90%;
  }
}
#aboutcontent p {
  margin-bottom: 10px;
}
#aboutcontent p + p {
  text-indent: 100px;
}
footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  color: #fff;
  background-color: #f14000;
}
@media (max-width: 500px) {
  footer {
    width: 500px;
    display: inline-block;
    margin-top: -20px;
  }
}
footer .title {
  display: flex;
  align-items: center;
  font: 20px "Exo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  footer .title {
    display: none;
  }
}
footer .title .navlogo {
  margin-right: 15px;
  font-size: 40px;
  color: #fff;
}
footer .copyright {
  margin-left: 150px;
  opacity: 0.6;
  font: 14px "Calibri", sans-serif;
}
@media (max-width: 500px) {
  footer .copyright {
    margin-left: 0px;
    margin-top: 45px;
    text-align: center;
  }
}
footer .socialmedia {
  margin-right: 150px;
}
@media (max-width: 500px) {
  footer .socialmedia {
    position: absolute;
    width: 500px;
    margin-top: -45px;
    text-align: center;
  }
}
footer .socialmedia a {
  opacity: 0.8;
  font-size: 18px;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 500px) {
  footer .socialmedia a {
    margin-left: 0px;
    margin-right: 20px;
  }
}
footer .socialmedia a:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
