#content{
    position:relative;
    box-sizing:border-box;
    margin-top:75px;
    font:16px @bodyfont;
    line-height:20px;

    @media(max-width:@mobile){
        margin-top:50px;
    }

    h2{
        font: 35px @headerfont;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:3px;
        color:@accent1;
    }

    h3{
        font: 25px @bodyfont;
        color:@text1;
    }

    .icon{
        margin-bottom:10px;
        font-size:40px;
        color:@accent2;
        
        @media(max-width:@mobile){
            margin-top:30px;
        }
        
    }

    #subsection{
        display:flex;
        max-width:800px;
        margin: 0 auto;
        margin-bottom:75px;
        text-align:center;
        color:@text2;

        @media(max-width:@mobile){
            display:block;
        }
    }

    #subsect1, #subsect2, #subsect3, #subsect4{
        margin: 0 25px;
    }
}