footer{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:75px;
    color:@text3;
    background-color:@accent1;

    @media(max-width:@mobile){
        width:@mobile;
        display:inline-block;
        margin-top:-20px;
    }

    .title{
        display:flex;
        align-items:center;
        font: 20px @headerfont;
        text-transform:uppercase;
        letter-spacing:2px;

        @media(max-width:@mobile){
            display:none;
        }

        .navlogo{
            margin-right:15px;
            font-size:40px;
            color:@text3;
        }
    }

    .copyright{
        margin-left:150px;
        opacity:0.6;
        font:14px @bodyfont;  

        @media(max-width:@mobile){
            margin-left:0px;
            margin-top:45px;
            text-align:center;
        }
    }

    .socialmedia{
        margin-right:150px;

        @media(max-width:@mobile){
            position:absolute;
            width:@mobile;
            margin-top:-45px;
            text-align:center;
        }

        a{
            opacity:.8;
            font-size:18px;
            margin-left:20px;
            color:@text3;
            text-decoration:none;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            @media(max-width:@mobile){
                margin-left:0px;
                margin-right:20px;
            }
            
        }

        a:hover{
            opacity:1;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;    
        }
    }
}